# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
env/
venv/
.venv/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3
*.db
*.h5

# Other
*.pyc
*.bak
*.swp
Thumbs.db


experiments